@use '../abstracts/variables' as vars;
.encabezado {
  background-color: vars.$color-primary;
  color: vars.$color-white;
}

.contenedor-header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  list-style: none;
  display: flex;
  gap: 1.5rem;

  a {
    color: vars.$color-white;
    text-decoration: none;
    font-weight: bold;
  }
}