@use '../abstracts/variables' as vars;
.filtros button,
.btn-comprar {
  padding: 0.5rem 1rem;
  border: none;
  background-color: vars.$color-primary;
  color: vars.$color-white;
  border-radius: vars.$radius;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
}

.filtros button:hover,
.btn-comprar:hover {
  background-color: vars.$color-hover;
}