@use '../abstracts/variables' as vars;
.galeria {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.producto {
  background: vars.$color-white;
  padding: 1rem;
  border-radius: 8px;
  width: 200px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

  img {
    max-width: 100%;
    border-radius: 8px;
  }
}